/* Asegura que el contenido principal no luche contra el sidebar */
main {
  flex: 1;
  min-width: 0; /* Previene desbordamientos flex que causan recálculos pesados */
  transform: translateZ(0); /* Aceleración GPU */
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3); 
}